{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 53.1657481,
    "longitude": 6.7985652,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Thuis",
    "time_zone": "Europe/Amsterdam",
    "external_url": null,
    "internal_url": null,
    "currency": "EUR",
    "country": "NL",
    "language": "nl",
    "radius": 100
  }
}